# Database Migrations
VirtualGlassesProvider/Migrations

# Visual Studio cache/options directory
.vs/

# User-specific files
VirtualGlassesProvider/*.user
VirtualGlassesProvider.Tests/*.user

# Generated with debug and execute
VirtualGlassesProvider/bin
VirtualGlassesProvider/obj

VirtualGlassesProvider.Tests/bin
VirtualGlassesProvider.Tests/obj

# Appsettings.json
VirtualGlassesProvider/appsettings.json
