<!DOCTYPE html>
<html>
<head>
    <title>Live Try On</title>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="startButton">Start Camera</button>

    <script src="webcam.js"></script>
</body>
</html>
<script>
    document.getElementById('startButton').addEventListener('click', function () {
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    var video = document.getElementById('video');
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    console.log("Something went wrong!");
                });
        }
    });
</script>