html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#profileImageColumn, #familyImageColumn {
    padding-left: 60px;
}

.detailsImage {
    max-width: 40%;
}

#detailsRight {
    float: right;
    position: relative;
    padding-top: 3%;
}

#detailsLeft {
    float: left;
    height: 0em;
}

#formCart {
    float: left;
}

#formAR {
    float: right;
    position: relative;
}

#detailsFormsDiv {
    margin-top: 30%;
}

#formCart > #addProductToCartBtn {
    margin-top: 78%; 
    background: darkblue;
    border-color: darkblue;
    padding: 8px;
    color: white;
}

#formAR > #generateImageBtn {
    background: darkblue;
    border-color: darkblue;
    padding: 8px;
    color: white;
}

#productDisplayImageDetailsDiv {
    height: 280px;
    overflow: hidden;
}

.errorMessage {
    color: darkred;
}