@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p id="registerConfirmationCheckEmailMessage">
    Please check your @Model.Email email to confirm your account.
</p>

