
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@using VirtualGlassesProvider.Services;
<!DOCTYPE html>
<html lang="en-US" dir="ltr" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VirtualGlassesProvider</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" type="text/css" crossorigin="anonymous" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" />
    <meta http-equiv="content-security-policy" content="
                default-src 'none';
                connect-src 'self' ws: wss: data: https://tfhub.dev https://www.kaggle.com https://storage.googleapis.com;
                script-src 'self' 'unsafe-eval' https://ajax.googleapis.com https://cdn.jsdelivr.net;
                style-src 'self' https://fonts.googleapis.com;
                font-src https://fonts.gstatic.com https://cdnjs.cloudflare.com;
                img-src 'self' data:;" />
</head>
<body>
    <header>
        @{
            // Retrieve cart items from session
            var cart = Context.Session.GetObjectFromJson<List<CartItem>>("cart") ?? new List<CartItem>();
            var cartCount = cart.Sum(item => item.Quantity);
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Vision Vogue-logos_white.png" title="Vision Vogue" id="visionVogueLogo" />
                </a>
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Vision Vogue</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <!--TODO: Replace icon for aoda compliance; needs more contrast-->
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="Checkout">
                                    <p class="fa fa-shopping-cart text-white">
                                        @if (cartCount > 0)
                                        {
                                            @cartCount
                                        }
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="WishList">Wishlist</a>
                            </li>

                            <li id="accountListElementMobile" class="nav-item">
                                <a id="manageAccountMobile" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Profile">Account</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
        
    </header>
    <div class="container">
        <noscript>
            <p class="errorMessage" id="jsError">PLEASE ENABLE JAVASCRIPT!</p>
        </noscript>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2024 - VirtualGlassesProvider - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/js/opencv.js" type="text/javascript"></script>
    <script src="~/js/utils.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
